{% extends "layout.html" %}
{% block title %}Home :: CodeTable{% endblock %}

{% block head %}
	<script type="text/javascript" src="{{ url_for('static', filename='js/code.js') }}"></script>

{% endblock %}

{% block content %}

	<div class="code-editor">
		<div id="codeFilesListWrapper">
			<h2>Code Files</h2>
			<div id="create"><a href="/code">Create new file</a></div>
			<table id="codeFileList" cellpadding="10">
				<tr class="file-item table-col-heading">
					<td>Id</td>
					<td>File Name</td>
					<td>Date Modified</td>
					<td>Link</td>
				</tr>
			</table>
		</div>
	</div>

	<script type="text/javascript">
		$(function(){
			getCodeFiles();
		});
	</script>

{% endblock %}